
.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper {
    width: 100px;
    height: auto;
}

.elfinder-cwd-icon {
    width: 100px;
    height: 100px;
}

.elfinder-cwd-icon-directory {
    width: 48px;
    height: 48px;
}

.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover, .elfinder-cwd table td.ui-state-hover, .elfinder-button-menu .ui-state-hover {
    color: #419be0;
}